# --- Datasets ---
data/

# --- Jupyter Notebook artifacts ---
.ipynb_checkpoints/
*/.ipynb_checkpoints/

# --- Python environment and bytecode ---
__pycache__/
*.py[cod]
*$py.class
venv/
env/

# --- Large Model Files ---
models/*.json
models/*.bin
models/*.model

# --- Submissions ---
submissions/*.csv

# --- Images ---
images/*

# --- IDE specific ---
.vscode/
.idea/

# --- Temporary Training Files ---
**/catboost_info/

# --- Report ---
*.pdf
*.docx